@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background: #e5e5e5;
  margin: 0;
  padding: 0;
  overflow-x: clip !important;
}

body > * {
  width: 100%;
}

header {
  padding: 14px 24px;
  margin: auto;
  width: 90%;
  height: 72px;
  align-items: center;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  width: 327px;
}

.h2,
.hello {
  font-size: 40px;
  transition: font-size 3s 1s;
}

h2,
.hello:hover {
  font-size: 50px;
}

h3,
.box-1,
.box-2 .box-3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: 237px;
  height: 24px;
  color: #000;
}

h2 .hello-1 {
  height: 101px;
}

h2 .main-text {
  z-index: 10;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

p {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

.icon-tag:not(:first-child) {
  margin: 0 0 0 16px;
}

.flex {
  display: flex;
  width: 65%;
}

.item-center {
  justify-items: left;
  padding-left: 0;
}

.sub-list {
  margin: 0 8px 0 0;
}

.main-p-2 {
  display: none;
}

.main-text-2 {
  display: none;
}

.text-1 {
  font-family: 'Poppins', sans-serif;
  color: #344563;
}

.logo {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
}

#info-text {
  display: none;
}

.mobile-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.mobile-menu > * {
  display: block;
}

.ruby {
  display: none;
}

.photo2 {
  display: none;
}

#seeMultiPost {
  display: block;
}

#seeProject {
  display: block;
}

.tonicListQ li {
  display: inline;
}

#landing {
  width: 100%;
  height: 100%;
  margin: auto;
  background-image: url('images/header-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding-bottom: 5rem;
  border-bottom-left-radius: 60px;
}

.landingText {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: auto;
  padding: 0 24px;
}

.card-works {
  width: 100%;
  margin: 0.5rem auto;
  align-items: center;
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #dfe1e6;
  font-family: 'poppins', sans-serif;
  padding: 16px;
  border-radius: 16px;
}

li .Q-text {
  padding-left: 16px;
}

.licap {
  color: #344563;
  font-weight: 600;
  margin-right: 4px;
}

.tonicListQ {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  padding-bottom: 10px;
}

.tonicListQ p {
  color: #7a869a;
  font-size: 13px;
}

.tonicListR {
  display: none;
}

.title2 {
  display: none;
}

.btn {
  font-family: 'Poppins', sans-serif;
  width: 84px;
  padding: 0.6rem 0.6rem;
  height: 20px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 10px;
  border: 1px solid #dfe1e6;
  text-align: center;
  letter-spacing: 0.03em;
  background: #fff;
  margin: 12px 5px;
  color: #396df2;
  border-color: #6070ff;
}

.flex-div {
  padding-top: 15px;
  padding-bottom: 30px;
}

.div {
  margin-left: 0;
}

.htmlButtons button {
  background: #ebebff;
  border-radius: 5px;
  color: #6070ff;
  line-height: 16px;
  letter-spacing: 0.03em;
  border: none;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  width: auto;
  padding: 4px 12px;
  margin: 0 5px;
}

.resumeButton button,
.seeProject button {
  border-radius: 8px;
  color: #396df2;
  width: auto;
  height: 40px;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: 0.03em;
  background: none;
  border: 2px solid #396df2;
  margin-top: 20px;
}

.resumeButton button:active,
.seeProject button:active {
  background: #2230d2;
  color: white;
  border: none;
  border: 2px solid #2230d2;
}

.resumeButton button:hover,
.seeProject button:hover {
  background: #6070ff;
  color: white;
  border: none;
  border: 2px solid #6070ff;
}

.resumeButton button:disabled,
.seeProject button:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

#getInTouch button {
  border-radius: 8px;
  color: #6070ff;
  height: 40px;
  line-height: 16px;
  letter-spacing: 0.03em;
  background: #fff;
  border: 2px solid #396df2;
  padding: 12px 16px;
  font-family: 'Poppins', sans-serif;
}

#about {
  width: 95%;
  background: #fff;
  margin: auto;
  border-top-right-radius: 60px;
}

.about1 {
  padding-top: 20px;
  margin: 0 24px;
}

.Q {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #253858;
  margin-bottom: 30px;
  background: #f7f7f9;
  margin-top: 20px;
  width: 303px;
  height: 66.72px;
  padding-bottom: 5px;
  align-items: center;
  padding-top: 7px;
  border-radius: 8px;
  padding-left: 10px;
}

.box-1,
.box-2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-top: 12px;
  padding-bottom: 50px;
  border-bottom-color: #dfe1e6;
  margin-top: 10px;
  width: 327px;
  height: 1px;
}

.arrow {
  position: absolute;
  right: 13%;
  margin-top: 5px;
}

.arrow2,
.arrow3 {
  position: absolute;
  left: 75%;
}

.parting {
  padding-bottom: 88px;
}

#aboutText {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  text-align: left;
}

.connect {
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  margin-right: auto;
}

.about2 {
  width: 50%;
  margin-top: 60px;
  margin-left: 24px;
}

.htmlButtons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
}

#contact-style {
  background-image: url('./images/contact-me.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0 24px;
}

.contact-title {
  width: 100%;
  height: 56px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  align-content: center;
  text-align: center;
  color: #fff;
}

.mobile-display {
  background: #6070ff;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  position: absolute;
  mix-blend-mode: multiply;
}

.nav-text {
  margin-left: 28px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #fff;
  width: 251px;
  height: 24px;
  padding: 35px 0;
}

.cancel-icon {
  margin-left: 90%;
}

.cancel-img {
  margin-top: 50px;
}

.overflowHidden {
  overflow: hidden;
  margin: 0;
  touch-action: none;
  -ms-touch-action: none;
  height: 100vh;
}

.show {
  left: 0;
  backdrop-filter: blur(8px);
  transition: 0.3s;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  background-color: rgb(167, 154, 154);
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showModal {
  visibility: visible;
}

.modal-inner {
  background-color: #fff;
  width: 92%;
  min-height: 50vh;
  border-radius: 20px;
  padding: 1rem;
  margin: 16px;
}

.header-first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancels {
  z-index: 20;
  border: none;
  background: red;
  outline: none;
  color: #67798e;
  font-size: 2rem;
  margin-left: auto;
}

.btn-modal img {
  margin-top: 10px;
}

.contact-text {
  padding: 24px;
  width: 100%;
  height: 102px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #ebebff;
  text-align: center;
}

.name,
.email {
  background: #fff;
  padding: 24px;
  height: 48px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-size: 17px;
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 12px;
  width: 327px;
}

.text-area {
  background: #fff;
  padding: 15px 38px 15px 16px;
  height: 140px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 12px;
}

textarea {
  background: #fff;
  padding: 24px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 100%;
  height: 170px;
}

.form-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 24px;
  padding-top: 50px;
}

.error-message {
  color: red;
  font-size: 18px;
}

#getInTouch button:hover {
  background: #6070ff;
  color: white;
  border: none;
  border: 2px solid #6070ff;
}

#getInTouch button:active {
  background: #2230d2;
  color: white;
  border: none;
  border: 2px solid #2230d2;
}

#getInTouch button:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

@media screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
    background-color: #e5e5e5;
  }

  header {
    margin: auto;
    width: 90%;
    height: 72px;
    align-items: center;
  }

  .item-center {
    justify-items: left;
    padding-left: 0;
  }

  #landing {
    background-image: url('./images/header2.png');
    background-color: #fff;
    border-bottom-left-radius: 60px;
  }

  .navMenu {
    display: none;
  }

  .logo {
    font-size: 18px;
    display: inline;
    flex: 1;
  }

  #info-text {
    display: flex;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    padding-left: 20px;
  }

  li .Q-text {
    margin-right: 50px;
  }

  .text-1 {
    margin: 0 16px;
  }

  .hello {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8rem;
    width: 65%;
  }

  .landingText {
    width: 82%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-right: 20px;
    padding: 24px;
  }

  .hello h2 {
    font-size: 48px;
  }

  .card-works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 46px;
    grid-template-areas: 'imageArea projectArea';
    width: 95%;
    align-items: center;
    background: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #dfe1e6;
    font-family: 'poppins', sans-serif;
    border-radius: 16px;
    padding-left: 2%;
  }

  .text-first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'projectArea imageArea';
    gap: 46px;
    background: #fff;
  }

  .main-p-1 {
    display: none;
  }

  .main-p-2 {
    display: block;
  }

  .main-text-3 {
    display: none;
  }

  .ruby {
    display: block;
  }

  .photo1 {
    display: none;
  }

  .photo2 {
    display: block;
    width: 95%;
  }

  .main-text-2 {
    display: inline-block;
  }

  .tonic-text {
    padding-bottom: 18%;
    grid-area: ProjectArea;
    grid-row-start: projectArea;
    grid-column-start: projectArea;
    grid-row-end: projectArea;
    grid-column-end: projectArea;
  }

  .tonic-pic {
    grid-area: imageArea;
    grid-row-start: imageArea;
    grid-column-start: imageArea;
    grid-row-end: imageArea;
    grid-column-end: imageArea;
  }

  .tonicListR {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    display: block;
  }

  .tonicListR p {
    color: #7a869a;
    font-size: 13px;
  }

  .tonicListR li {
    display: inline;
  }

  .tonicListQ {
    display: none;
  }

  #about {
    width: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 37px;
    padding: 40px;
  }

  .about1 {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
  }

  .hello2 {
    padding-bottom: 10%;
  }

  #aboutText {
    padding-bottom: 5%;
    width: 260px;
    color: #344563;
    margin-bottom: 15px;
  }

  .contact-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    height: 102px;
    color: #ebebff;
  }

  .text-3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .contact {
    padding: 0 150px;
  }

  .Q img {
    margin-top: 0;
    margin-bottom: 16px;
    margin-right: 50px;
  }

  .Q {
    text-align: left;
    width: 100px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
  }

  h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    padding-bottom: 15px;
  }

  .lang {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .aboutList2 {
    display: flex;
  }

  .arrow {
    position: absolute;
    right: 10%;
  }

  .arrow2,
  .arrow3 {
    position: absolute;
    left: 88%;
  }

  .name,
  .email {
    width: 447px;
  }

  #contact-style {
    background: #6070ff;
  }

  .about2 {
    margin-left: -30px;
  }

  .blab {
    display: flex;
  }

  .baz {
    margin-bottom: 20px;
  }

  .hidden-buttons {
    width: 50%;
  }

  .pic-work {
    width: 100%;
  }
}
