.container {
  display: flex;
  flex-direction: column;
  width: 375px;
  left: 0px;
  top: 0px;
  margin-left: 2%;
  width: 100%;
  background-image: url('images/header.png');
  background-size: cover;
  background-position: 100% 20%;
  background-repeat: no-repeat;
}
body {
  font-family: 'Poppins' sans-serif;
  font-style: normal;
  order: 1;
  flex-grow: 0px;
}
h3 {
  color: #6070ff;
}

.name {
  color: #091e42;
  margin-left: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.name-container {
  margin: 16px;
  margin-top: 5px;
}
.profile-sum {
  width: 327px;
  height: 146px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.icon:not(:first-child) {
  margin: 0 0 0 16px;
}
icon a img {
  width: 1.5rem;
  height: 1.5rem;
}
ul,
li {
  list-style: none;
  padding-left: 0;
}

h4 {
  color: #7f8cff;
}

.flex {
  display: flex;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 28px;
  margin-bottom: 0;
  background-color: white;
  align-items: center;
}
.card-2 {
  height: 552px;
  width: 327px;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  align-items: center;
  padding: 16px;
  margin-left: 0%;
  top: 114px;
}
.tonic,
.comments {
  width: 295px;
  height: 36px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}
.button {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
}
.canopy {
  color: #344563;
}
.textarea {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}
.text {
  color: #7a869a;
}
body-text {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}
ul {
  display: flex;
  padding: 10px 10px;
  margin-bottom: 400px;
}
.items {
  display: flex;
  padding: 10%;
}
.button {
  color: #396df2;
  width: 100px;
  height: 24px;
}
.card-3 {
  width: 327px;
  height: 596px;
  top: 754px;
  left: 24px;
  padding: 16px;
  margin-top: 88px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}
.card-4 {
  width: 327px;
  height: 552px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 88px;
  padding: 16px;
}
.card-5 {
  width: 327px;
  height: 552px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 88px;
  padding: 16px;
}

button {
  width: 140px;
  height: 48px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 10px;
  border: 1px solid blue;
  text-align: center;
  letter-spacing: 0.03rem;
  margin: auto;
}
.frame {
  display: flex;
  margin-top: 10px;
}
.jav {
  text-align: center;
  margin-bottom: 20%;
}
.naxt {
  position: relative;
  top: auto;
}
.rax {
  width: 303px;
  height: 66.72px;
  top: 169.43px;
  left: 12px;
}
#about {
  width: 375px;
  height: 1400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
}

#aboutConnect {
  margin-left: 0.1px;
}

#aboutSM {
  margin-left: 110px;
}

#aboutResume {
  margin-left: -130px;
}

.about1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.Q {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #253858;
  margin-left: -50px;
  margin-bottom: 30px;
  background: #f7f7f9;
  margin-top: 20px;
}

.Q p {
  margin-left: 20px;
}

.languages {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-left: -20px;
}

.arrow {
  position: absolute;
  right: 13%;
  margin-top: -50px;
}

.arrow2 {
  height: 4%;
  position: absolute;
  right: 13%;
  margin-top: -58px;
}

.arrow3 {
  height: 4%;
  position: absolute;
  right: 13%;
  margin-top: -58px;
}

.languajes {
  position: relative;
}

.languages2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-left: -20px;
  margin-top: 50px;
}

.separator1 {
  width: 95%;
  height: 1px;
  background: #dfe1e6;
  margin-left: -2%;
  margin-top: 30px;
}

.separator2 {
  width: 95%;
  height: 1px;
  background: #dfe1e6;
  margin-left: -2%;
  margin-top: 30px;
}
